<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.number_field :content %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>

    <%= f.select :parent_id, options_for_select(CategoriesHelper::category_tree(true, @category.id).collect {|p| [ ('- ' * (p[:level].to_i-1)).to_s + p[:title] + ' [' + p[:id].to_s + ']', p[:id] ] }, @category.parent_id.to_i > 0 === true ? @category.parent_id : :parent_id)%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
